{% extends 'base.html' %}
 {% block content %}
            
            <!--last topics + pup-->
<div class="row" xmlns="http://www.w3.org/1999/html">
            	<div class="col-sm-8">
            		<div class="row">
            			<div class="col-sm">
							{% for post in offer_list|slice:"0:1" %}
							<a href="{% url 'detail' post.pk %}" class="a-w">
                            <div class="col-sm dzpost">
								{% if post.img_1 %}
	            				<img src="{{ post.img_1.url}}" class="img-topic" alt="Responsive image">
								{% endif %}
	            				<div class="post_in">

	            					<h1>{{ post.title}}</h1>


	            				</div>
            			    </div>
							</a>
                            {% endfor %}
            			</div>	
            		</div>

            	</div>

            	<div class="col-sm-4">
         		     {% for obj in ads_list %}
                          <a href="#">
                              <p>{{ obj.ads_2 }}</p>
                          </a>
                            {% endfor %}
            	</div>
            </div>
             <hr>
            <div class="row">
            	<div class="col-sm-8 left-border pl-2">
            		<div class="card mb-3 ">
						{% for post in offer_list|slice:"1:" %}
						<a href="{% url 'detail' post.pk %}" class="a-b">
					  <div class="row no-gutters  ">
					    <div class="col-md-4">
							{% if post.img_1 %}
					      <img src="{{ post.img_1.url}}" class="img-fluid3" alt="sam">
							{% endif %}
					    </div>
					    <div class="col-md-8 pr-2">

					      <div class="card-body">
					        <h5 class="card-title">{{ post.title|truncatewords:12 }}</h5>
					        <p class="card-text">{{ post.text_1|truncatewords:20 }}</p>
					       <p class="card-text"><small class="text-muted">تاريخ النشر:{{ post.pup_date|date:"SHORT_DATE_FORMAT" }}</small></p>
					      </div>

					    </div>
					  </div>
						</a>
						<hr>
						{% endfor %}
						<!-- paginator -->
						<div class="pagination m-3">
							<span class="step-links">
								{% if offer_list.has_previous %}
									<a href="?page=1" class="mr-3">&laquo; الأولى</a>
									<a href="?page={{ offer_list.previous_page_number }}" class="mr-3">السابقة</a>
								{% endif %}

								<span class="current mr-3">
									 {{ offer_list.number }} من {{ offer_list.paginator.num_pages }}
								</span>

								{% if offer_list.has_next %}
									<a href="?page={{ offer_list.next_page_number }}" class="mr-3">التالية</a>
									<a href="?page={{ offer_list.paginator.num_pages }}" class="mr-3">الأخيرة &raquo;</a>
								{% endif %}
							</span>
						</div>
						<div>
						  {% for obj in ads_list %}
								  <a href="#">
									  <p>{{ obj.ads_3 }}</p>
								  </a>
									{% endfor %}
						</div>

					</div>

            	</div>
				<div class="col-sm-4">
				<p class="foot-title">أخر المواضيع</p>
                    {% for post in latest_post %}
                    <a href="{% url 'detail' post.pk %}" class="a-b">
            		<div class="row foot-title-line">
            			<div class="col-sm ">
            				<div class="row no-gutters">
							    <div class="col-md-5 ">
									{% if post.img_1 %}
							      <img src="{{ post.img_1.url}}" class="img-fluid4 " alt="sam">
									{% endif %}
							    </div>
							    <div class="col-md-7 ">
							      <div class="card-body">
							        <h6 class="card-title">{{ post.title }}</h6>

							        <p class="card-text"><small class="text-muted"> تاريخ النشر:{{ post.pup_date|date:"SHORT_DATE_FORMAT" }}</small></p>
							      </div>
							    </div>
							 </div>
            			</div>
            		</div>
                        </a>
                    {% endfor %}

                    <p class="foot-title">الأكثر مشاهدة</p>
            		{% for post in puplic_list %}
					<a href="{% url 'detail' post.pk %}" class="a-b">
            		<div class="row foot-title-line">
            			<div class="col-sm ">
            				<div class="row no-gutters">
							    <div class="col-md-5 ">
									{% if post.img_1 %}
							      <img src="{{ post.img_1.url}}" class="img-fluid4" alt="sam">
									{% endif %}
							    </div>
							    <div class="col-md-7 ">
							      <div class="card-body">
							        <h6 class="card-title">{{ post.title }}</h6>

							        <p class="card-text"><small class="text-muted"> تاريخ النشر:{{ post.pup_date|date:"SHORT_DATE_FORMAT" }}</small></p>
							      </div>
							    </div>
							 </div>
            			</div>
            		</div>
					</a>
                     {% endfor %}

					<div class="row">
            			<div class="col-sm">
            				<div class="row">
			                  <iframe class=" image-fluid " src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMiMobileDZ&tabs&width=300&height=280&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="400" height="240"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
			                  </iframe>
			                </div>
            			</div>
            		</div>
				</div>
			</div>
              
              <!-- remise -->

              <hr>
              <div class="row big-title-line">
				  <a href="{% url 'discount_mob' %}">
				     <p class="big-title"> تخفيضات   </p>
				  </a>
			  </div>
              

            <div class="row">
                {% for post in discount_list %}
            	<div class="col-sm-3">
            		<div class="card mb-3">
						{% if post.imag_dics %}
					  <img src="{{ post.imag_dics.url}}" class="img-disc" alt="sam"/>
						{% endif %}
					  <div class="card-body">
					     <h1 class="e-c">{{ post.mob_name }}</h1>
						 <h5 class="e-c cl-red"><strike>{{ post.old_price }} دج</strike></h5>
						 <h5 class="e-c cl-green">{{ post.new_price }} دج</h5>
					  </div>
					</div>
            	</div>
                {% endfor %}
            </div>
			</div>
 {% endblock %}
